/* Общие стили */
body {
    font-family: Jacquard, Geologica;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

main {
    padding: 20px;
    margin-bottom: 100px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Стили для раздела "Главная" */
.main-section {
    padding: 20px;
}

.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Стили для слайдера */

.swiper-container {
    width: 100%;
    padding-top: 20px;
}

.swiper-slide {
    width: 200px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.swiper-slide:not(:last-child) {
    margin-right: 20px;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Стили для новостей */

.news-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.news-item {
    margin-bottom: 10px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* стили для поиска */

.search-section {
    margin-top: 20px;
}

.search-container {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container h2 {
    margin-bottom: 15px;
}

.search-form {
    display: grid;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="number"] {
    width: 100%;
}

.search-results {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

#movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Стили для карточек фильмов */
.movie-card {
    display: inline-block;
    margin: 10px;
    max-width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card img {
    width: 200px;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.movie-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.movie-card p {
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 0.9rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Стили для модального окна */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10000;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
}

.close-modal:hover {
    color: #333;
}

.modal-movie-info-container {
    display: flex;
    gap: 20px;
    align-items: center;

    & img {
        width: 30%;
        position: relative;
        height: auto;
        margin-bottom: 10px;
    }
}

.put-to-favorites {
    top: -10px;
    left: -10px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(./favorit1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

.modal-movie-info {
    max-height: 300px;
    overflow-y: auto;

}

.modal-movie-info p {
    margin-bottom: 10px;
}

/* стили для раздела Избранное */
/* Основные стили */
.favorite-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.favorite-section h2 {
    color: #333;
}

.favorite-movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

/* Анимация падающей карточки */
.star {
    position: absolute;
    animation: gelatine 1s;
    
}

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.card-favorite-movies {
    width: 450px;
    position: relative;
    background-color: rgba(206, 184, 184, 0.5);
    border-radius: 10px;
}

.del-card {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #aaa;

    &:hover {
        color: #333;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Стили для раздела "О нас" */
.about {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.about p {
    margin-bottom: 15px;
}

/* Стили для раздела "Контакты" */
.contacts {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.contacts p {
    margin-bottom: 15px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    color: #007bff;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Стили для карточек новостей */
.news-section {
    height: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: auto;
}

.news-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-content {
    flex: 1;
    padding: 20px;
}

.news-image {
    width: 20%;
}

.news-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.news-card p {
    margin-bottom: 10px;
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.news-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.news-card a:hover {
    text-decoration: underline;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Всегда держать внизу */
.hide {
    display: none;

}