<header id="header">
    <h1>Онлайн-кинотеатр</h1>
    <input type="checkbox" id="burger-menu" class="burger-menu">
    <label for="burger-menu">&#9776;</label>
    <nav>
        <ul class="nav-list">
            <li><a href="/home" data-target="main_header">Главная</a></li>
            <li><a href="/movies" data-target="_movies">Фильмы</a></li>
            <li><a href="/search" data-target="search">Поиск</a></li>
            <li><a href="/favorites" data-target="favorites">Избранное</a></li>
            <li><a href="/about" data-target="about">О нас</a></li>
            <li><a href="/contacts" data-target="contacts">Контакты</a></li>
        </ul>
    </nav>
</header>