<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head_components.ejs') %>
        <link rel="stylesheet" href="../assets/style/about.css">
</head>

<body>

    <header>
        <%- include('./components/header.ejs') %>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h2>О нас</h2>
                <p>Онлайн кинотеатр - это место, где вы можете насладиться просмотром широкого выбора фильмов в удобное
                    для вас
                    время и в любом месте. Мы предлагаем широкий выбор жанров, от классических до новинок. Наша цель -
                    предоставить вам удовольствие от кино без необходимости покидать дом.</p>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./components/footer.ejs') %>
    </footer>

</body>

</html>