<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head_components.ejs') %>
    <link rel="stylesheet" href="assets/style/contacts.css">
</head>

<body>

    <header>
        <%- include('./components/header.ejs') %>
    </header>

<section class="contacts" id="contacts">
    <h2>Контакты</h2>
    <div class="contacts-grid">
        <div class="contact-item">
            <h3>Офис</h3>
            <p>Наш адрес:</p>
            <p>ул. Ержанова, 123</p>
            <p>Телефон: +7 (707) 864-48-32</p>
            <p>Email: info@online-cinema.com</p>
        </div>
        <div class="contact-item">
            <h3>Отдел продаж</h3>
            <p>Телефон: +7 (701) 234-56-78</p>
            <p>Email: sales@online-cinema.com</p>
        </div>
        <div class="contact-item">
            <h3>Техническая поддержка</h3>
            <p>Телефон: +7 (702) 345-67-89</p>
            <p>Email: support@online-cinema.com</p>
        </div>
        <div class="contact-item">
            <h3>Маркетинг</h3>
            <p>Email: marketing@online-cinema.com</p>
        </div>
        <div class="contact-item">
            <h3>По вопросам сотрудничества</h3>
            <p>Email: partnership@online-cinema.com</p>
        </div>
    </div>
</section>



    <footer>
        <%- include('./components/footer.ejs') %>
    </footer>
</body>

</html>