<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head_components.ejs') %>
</head>

<body>

    <header>
        <%- include('./components/header.ejs') %>
    </header>

    <!-- Раздел "Фильмы" -->
    <section id="_movies">
        <div id="movies">
            <!-- Карточки фильмов -->
            <div>
                Здесь будут отображаться карточки фильмов
            </div>
        </div>
    </section>

    <footer>
        <%- include('./components/footer.ejs') %>
    </footer>
</body>

</html>