<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head_components.ejs') %>
        <link rel="stylesheet" type="text/css" href="../assets/style/movies_style.css">
</head>

<body>

    <header>
        <%- include('./components/header.ejs') %>
    </header>

    <div id="movies">
        <!-- Карточки фильмов -->
        <div>
            <!-- <%- include('./components/tooth_chek_box.ejs') %> -->

        </div>
            <div>
                Выберите фильм для просмотра <br>
                оставьте комментарии и оцените фильм.
            </div>
    </div>

    <footer>
        <%- include('./components/footer.ejs') %>
    </footer>

    <script src="../assets/js/maker_movies.js"></script>
</body>

</html>